ion-searchbar {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik", sans-serif;
  }
  
  ion-title,
  h1,
  .informacao-membro {
    font-family: "Lexend", sans-serif;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .bt-editar {
    background: #a7a7aa;
  }
  
  .bt-associar {
    background: #2e2e3c;
  }
  
  .bt-deletar {
    background: #a57d51;
  }
  
  .icones {
    color: #fff;
    font-size: 20px;
  }
  