<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col class="ion-align-self-start">
      <h1 style="margin-left: 40%; font-weight: bold">
        Registros dos Pacientes
      </h1>
    </ion-col>
    <ion-col class="ion-align-self-center"> </ion-col>
    <ion-col class="ion-align-self-end"> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-start"> </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-button
        style="margin-left: 62.5%"
        color="primary"
        (click)="abriModalRegistro()"
        >Adicionar um registro</ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end"> </ion-col>
  </ion-row>
  <ion-row *ngIf="isAdmin">
    <ion-col class="ion-align-self-start"> </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-button
        style="margin-left: 62.5%"
        color="primary"
        (click)="abriModalDownload()"
        >Exportar registros</ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end"> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-start"> </ion-col>
    <ion-col class="ion-align-self-center">
      <h2 *ngIf="numTotalRegistros === 0">Não há registros dos pacientes.</h2>
      <ion-searchbar
        *ngIf="numTotalRegistros > 0"
        (ionChange)="pesquisarPacientes($event)"
        placeholder="Digite o nome do paciente."
        color="tertiary"
      ></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let diario of listaDiariosFiltrados">
          <ion-item>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>{{diario.nomePaciente}}</ion-card-subtitle>
                <ion-card-title>{{diario.dataRegistro}}</ion-card-title>
              </ion-card-header>
              <ion-card-content> {{diario.registro}} </ion-card-content>
            </ion-card>
          </ion-item>
          <ion-item-options side="start">
            <button
              (click)="confirmarExclusao(diario)"
              ion-button
              class="bt-deletar"
            >
              <ion-icon class="icones" name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
    <ion-col class="ion-align-self-end"> </ion-col>
  </ion-row>
</ion-content>
