ion-content,
ion-grid,
ion-row,
ion-col,
div,
.direcao {
    border: 10px gray;
}

#direcao {
    border: 10px gray;
}

h2 {
    font-family: 'Lexend', sans-serif;
}

h3,
p {
    font-family: 'Rubik', sans-serif;
}