<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Parceiros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h2>Informações do Parceiros</h2>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Nome <span>*</span></ion-label>
      <ion-input mode="md" [(ngModel)]="parceiro.nome" type="text" maxlength="100"></ion-input>
    </ion-item>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Representante <span>*</span></ion-label>
      <ion-input mode="md" [(ngModel)]="parceiro.representante" type="text" maxlength="50"></ion-input>
    </ion-item>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Valor Contribuição <span>*</span></ion-label>
      <ion-input mode="md" [(ngModel)]="parceiro.valor" placeholder="Valor" inputmode="decimal"></ion-input>
    </ion-item>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Data Contribuição <span>*</span></ion-label>
      <ion-input mode="md" [(ngModel)]="parceiro.dataContribuicao" placeholder="Dia de Contribuição" type="text" maxlength="2"></ion-input>
    </ion-item>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Forma Pagamento <span>*</span></ion-label>
      <ion-input mode="md" [(ngModel)]="parceiro.formaContribuicao" type="text" maxlength="20"></ion-input>
    </ion-item>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Contato <span>*</span></ion-label>
      <ion-input mode="md" [(ngModel)]="parceiro.contato" type="text" maxlength="15"></ion-input>
    </ion-item>

    <ion-item class="row-item">
      <ion-label mode="md" class="titulo-dado" position="stacked">Observações</ion-label>
      <ion-textarea mode="md" [(ngModel)]="parceiro.observacoes" type="text" maxlength="250"></ion-textarea>
    </ion-item>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar no-padding id="rodape">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button mode="md" color="primary" (click)="cadastrar()" [disabled]="disabledBotaoCadastrar()"
            type="submit" fill="solid" expand="full">
            Cadastrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>