<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Total de projetos ativos: {{numTotalProjetos}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 *ngIf="numTotalProjetos == 0"> Não há projetos ativos.</h2>
  <ion-searchbar *ngIf="numTotalProjetos != 0"
  (ionChange)="pesquisarProjetos($event)"
    placeholder="Digite o nome do projeto"
    color="tertiary"
  ></ion-searchbar>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let projeto of listaProjetosFiltrados" >
            <ion-item text-wrap class="item-text-wrap">
              <ion-label class="informacao-membro" text-wrap>
                <h1 class="content-title">{{projeto.nome}}</h1>
                {{projeto.responsavel? 'Responsável: '.concat(projeto.responsavel) : '' }} 
              </ion-label>
            </ion-item>
            <ion-item-options side="start">
              <button
                ion-button
                (click)="editarProjeto(projeto)"
                class="bt-editar"
              >
                <ion-icon class="icones" name="create"></ion-icon>
              </button>
              <button
                ion-button
                (click)="associarProjeto(projeto)"
                routerDirection="forward"
                class="bt-associar"
              >
                <ion-icon class="icones" name="git-compare"></ion-icon>
              </button>
              <button (click)="confirmarInativacao(projeto)" ion-button class="bt-deletar">
                <ion-icon class="icones" name="person-remove"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
