ion-searchbar{
    margin-top:  15px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Rubik', sans-serif;
}

ion-title, h1, h2, .informacao-membro{
    font-family: 'Lexend', sans-serif;
}

h1{
    font-size: 20px;
}

h2 {
    color: #a57d51;
    text-align: center;
  }

.bt-editar{
background: #2e2e3c;
}

.bt-inativar{
    background: #A57D51;
}

.icones{
color: #fff;
font-size: 20px;
}