ion-content {
  --background: #e6e6e6;
}

ion-title {
  font-family: "Rubik", sans-serif;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;

  color: #1c6dff;
}

.icone {
  font-size: 25pt;
  color: #c58128;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* Espaçamento entre os botões */
}

button {
  flex: 1 1 calc(25% - 20px);
  /* Ajusta o tamanho dos botões para ocupar um quarto da largura */
  max-width: calc(25% - 20px);
  /* Garante que o max-width respeite o cálculo do flex */
  height: 100px;
  word-wrap: break-word;
  font-family: "Rubik", sans-serif;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 9px #575766;
  margin: 10px;
}

button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

button:hover .icone {
  font-size: 32pt;
  /* Ajuste o tamanho do ícone conforme necessário */
}

label {
  color: #141311;
  font-size: 16px;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boas-vindas {
  text-align: right;
  /* Ajusta a posição do texto à direita */
  font-size: 1rem;
  /* Ajuste o tamanho conforme necessário */
  white-space: nowrap;
  /* Impede a quebra de linha */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Adiciona "..." quando o texto for muito longo */
}

.boas-vindas-2 {
  text-align: left;
  /* Ajusta a posição do texto à esquerda */
  font-size: 1rem;
  /* Ajuste o tamanho conforme necessário */
  white-space: nowrap;
  /* Impede a quebra de linha */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Adiciona "..." quando o texto for muito longo */
}

@media (max-width: 768px) {
  button {
    flex: 1 1 calc(25% - 20px);
    /* Ajusta o tamanho dos botões para ocupar metade da largura em telas menores */
    max-width: calc(25% - 20px);
    /* Garante que o max-width respeite o cálculo do flex */
    height: 80px;
    /* Ajusta a altura para telas menores */
    margin: 10px;
  }

  .icone {
    font-size: 18pt;
    /* Ajusta o tamanho do ícone para telas menores */
  }

  label {
    font-size: 12px;
    /* Ajusta o tamanho do texto para telas menores */
  }
}

@media (max-width: 600px) {
  .boas-vindas-2 {
    display: none;
  }

  .boas-vindas {
    font-size: 0.875rem;
    /* Reduz o tamanho do texto em telas menores */
  }
}