ion-content {
  --background: #e6e6e6;
}

ion-title {
  font-family: "Rubik", sans-serif;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;

  color: #1c6dff;
}

.icone {
  font-size: 25pt;
  color: #c58128;
}

.content {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

button {
  width: 120px;
  margin-left: 2%;
  height: 120px;
  margin-top: 1%;
  word-wrap: break-word;
  font-family: "Rubik", sans-serif;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 9px #575766;
}

button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

label {
  color: #141311;
  font-size: 16px;
}