<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="ativos">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Ativos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="inativos">
        <ion-icon name="person-remove"></ion-icon>
        <ion-label>Inativos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="congregados">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Congregados</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="voluntarios">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Voluntaríos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="transformar">
        <ion-icon name="bonfire-outline"></ion-icon>
        <ion-label>Transformar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
