ion-searchbar {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Rubik", sans-serif;
}

ion-title,
h1,
.informacao-membro,
h2 {
  font-family: "Lexend", sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  color: #a57d51;
  text-align: center;
}

.bt-editar {
  background: #2e2e3c;
}

.bt-deletar {
  background: #35291c;
}

.bt-inativar {
  background: #a57d51;
}

.icones {
  color: #fff;
  font-size: 20px;
}
