<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title
      >Total de aniversiantes do mês: {{totalAniversariantes}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    (ionChange)="pesquisarMembros($event)"
    placeholder="Digite o nome do aniversiante."
    color="tertiary"
  ></ion-searchbar>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let membro of membrosFiltrados">
            <ion-item text-wrap class="item-text-wrap">
              <ion-label class="informacao-membro" text-wrap>
                <h1 class="content-title">{{membro.nomeCompleto}}</h1>
                Data de nascimento:
                {{formatarDataDeNascimento(membro.dataNascimento)}}
                <br />
                <b>Idade nesse ano: {{idadeAtual(membro)}} anos</b>
                <br />
                <div *ngIf="membro.whatsapp">
                  {{membro.whatsapp? 'Whatsapp: '.concat(membro.whatsapp) : '' }}
                <a target="_blank" [href]="formatarNumeroWhatsapp(membro.whatsapp)"><ion-icon name="send-outline"></ion-icon></a>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
