<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="inicio"></ion-back-button>
        </ion-buttons>
        <ion-title>Total de eventos: {{numTotalEventos}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 *ngIf="numTotalEventos == 0"> Não há eventos cadastrados.</h2>

    <ion-searchbar *ngIf="numTotalEventos > 0" (ionChange)="pesquisarEvento($event)" placeholder="Digite o nome do evento" color="tertiary"></ion-searchbar>
    <ion-grid>
        <ion-row align-items-center justify-content-center>
            <ion-col>
                <ion-list>
                    <ion-item-sliding *ngFor="let evento of listaEventosFiltrados">
                        <ion-item text-wrap class="item-text-wrap">
                            <ion-label class="informacao-membro" text-wrap>
                                <h1 class="content-title">{{evento.nome}}</h1>
                                {{evento.responsavel? 'Responsável: '.concat(evento.responsavel) : '' }}
                            </ion-label>
                        </ion-item>
                        <ion-item-options side="start">
                            <button ion-button (click)="editarEvento(evento)" class="bt-editar">
                <ion-icon class="icones" name="create"></ion-icon>
              </button>

                            <button (click)="confirmarExclusao(evento)" ion-button class="bt-deletar">
                <ion-icon class="icones" name="trash"></ion-icon>
              </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>